# **Tercer dataset**

# **1. Importación y exploración inicial del dataset Cifras de Víctimas del Fuero Común:**

In [1]:
import numpy as np
import pandas as pd

secuestros=pd.read_csv("IDVFC_NM_ene25.csv", encoding='latin1')
display(secuestros.head(2))

print(secuestros.columns)
print("-----------------------------------")
print(secuestros.shape)
print("-----------------------------------")
print(pd.unique(secuestros['Entidad']))
print("-----------------------------------")
print(pd.unique(secuestros['Bien jurídico afectado']))

,Año,Clave_Ent,Entidad,Bien jurídico afectado,Tipo de delito,Subtipo de delito,Modalidad,Sexo,Rango de edad,Enero,...,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
0,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma de fuego,Mujer,Menores de edad (0-17),0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma blanca,Mujer,Menores de edad (0-17),0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Index(['Año', 'Clave_Ent', 'Entidad', 'Bien jurídico afectado',
       'Tipo de delito', 'Subtipo de delito', 'Modalidad', 'Sexo',
       'Rango de edad', 'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
       'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
      dtype='object')
-----------------------------------
(80960, 21)
-----------------------------------
['Aguascalientes' 'Baja California' 'Baja California Sur' 'Campeche'
 'Coahuila de Zaragoza' 'Colima' 'Chiapas' 'Chihuahua' 'Ciudad de México'
 'Durango' 'Guanajuato' 'Guerrero' 'Hidalgo' 'Jalisco' 'México'
 'Michoacán de Ocampo' 'Morelos' 'Nayarit' 'Nuevo León' 'Oaxaca' 'Puebla'
 'Querétaro' 'Quintana Roo' 'San Luis Potosí' 'Sinaloa' 'Sonora' 'Tabasco'
 'Tamaulipas' 'Tlaxcala' 'Veracruz de Ignacio de la Llave' 'Yucatán'
 'Zacatecas']
-----------------------------------
['La vida y la Integridad corporal' 'Libertad personal' 'El patrimonio'
 'La sociedad']

### **1.1 Tratamiento de las columnas con nombres que contienen caracteres especiales:**

In [2]:
secuestros=secuestros.rename(columns={
    'Bien jurídico afectado': 'Bien_juridico_afectado',
    'Tipo de delito': 'Tipo_de_delito',
    'Subtipo de delito': 'Subtipo_de_delito',
    'Rango de edad': 'Rango_de_edad'})

print(secuestros.columns)

Index(['Año', 'Clave_Ent', 'Entidad', 'Bien_juridico_afectado',
       'Tipo_de_delito', 'Subtipo_de_delito', 'Modalidad', 'Sexo',
       'Rango_de_edad', 'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
       'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
      dtype='object')

# **2. Filtrando el dataframe para el bien jurídico afectado de la libertad personal en CDMX:**

Con base en la exploración de los primeros dos datasets, filtramos de la siguiente manera:

In [3]:
secuestros=secuestros.query(' Entidad == "Ciudad de México" and Bien_juridico_afectado ==  "Libertad personal" ')
display(secuestros.head(2))

#Definiendo el dataframe:
print(pd.unique(secuestros['Tipo_de_delito']))
print("-----------------------------------")
print(pd.unique(secuestros['Subtipo_de_delito']))
print("-----------------------------------")
print(pd.unique(secuestros['Modalidad']))

,Año,Clave_Ent,Entidad,Bien_juridico_afectado,Tipo_de_delito,Subtipo_de_delito,Modalidad,Sexo,Rango_de_edad,Enero,...,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
1863,2015,9,Ciudad de México,Libertad personal,Secuestro,Secuestro,Secuestro extorsivo,Mujer,Menores de edad (0-17),0,...,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0
1864,2015,9,Ciudad de México,Libertad personal,Secuestro,Secuestro,Secuestro con calidad de rehén,Mujer,Menores de edad (0-17),0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

['Secuestro' 'Tráfico de menores' 'Rapto'
 'Otros delitos que atentan contra la libertad personal']
-----------------------------------
['Secuestro' 'Tráfico de menores' 'Rapto'
 'Otros delitos que atentan contra la libertad personal']
-----------------------------------
['Secuestro extorsivo' 'Secuestro con calidad de rehén'
 'Secuestro para causar daño' 'Secuestro exprés' 'Otro tipo de secuestros'
 'Tráfico de menores' 'Rapto'
 'Otros delitos que atentan contra la libertad personal']

In [4]:
#Eliminando columnas innecesarias:
secuestros=secuestros.drop(['Clave_Ent', 'Entidad', 'Bien_juridico_afectado', 'Subtipo_de_delito'], axis=1)
display(secuestros.head(2))
print("-----------------------------------")
print(secuestros.columns)

,Año,Tipo_de_delito,Modalidad,Sexo,Rango_de_edad,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
1863,2015,Secuestro,Secuestro extorsivo,Mujer,Menores de edad (0-17),0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0
1864,2015,Secuestro,Secuestro con calidad de rehén,Mujer,Menores de edad (0-17),0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

-----------------------------------
Index(['Año', 'Tipo_de_delito', 'Modalidad', 'Sexo', 'Rango_de_edad', 'Enero',
       'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto',
       'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
      dtype='object')

# **3. Dando un formato largo al dataframe :**

In [5]:
secuestros=secuestros.melt(id_vars=['Año', 'Tipo_de_delito', 'Modalidad', 'Sexo', 'Rango_de_edad'], var_name='Mes', value_name="Numero_registros")
display(secuestros.head(2))
print("-----------------------------------")
print(secuestros.columns)

,Año,Tipo_de_delito,Modalidad,Sexo,Rango_de_edad,Mes,Numero_registros
0,2015,Secuestro,Secuestro extorsivo,Mujer,Menores de edad (0-17),Enero,0.0
1,2015,Secuestro,Secuestro con calidad de rehén,Mujer,Menores de edad (0-17),Enero,0.0

-----------------------------------
Index(['Año', 'Tipo_de_delito', 'Modalidad', 'Sexo', 'Rango_de_edad', 'Mes',
       'Numero_registros'],
      dtype='object')

# **4. Definiendo el dataframe :**

Nos quedaremos únicamente con las cuentas que importan para el análisis, que son los casos con números de registros distintos de cero. Para ello veremos primero los valores NaN.

### **4.1 Tratamiento de valores NaN:**

Estos se interpretan como una ausencia de registros, por lo que se asignarán a cero.

In [6]:
print(secuestros.info())
print("-----------------------------------")
print(secuestros.isna().any())
print("-----------------------------------")
print(secuestros.isna().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7392 entries, 0 to 7391
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               7392 non-null   int64
 1   Tipo_de_delito    7392 non-null   object
 2   Modalidad         7392 non-null   object
 3   Sexo              7392 non-null   object
 4   Rango_de_edad     7392 non-null   object
 5   Mes               7392 non-null   object
 6   Numero_registros  6776 non-null   float64
dtypes: float64(1), int64(1), object(5)
memory usage: 404.4+ KB
None
-----------------------------------
Año                 False
Tipo_de_delito      False
Modalidad           False
Sexo                False
Rango_de_edad       False
Mes                 False
Numero_registros     True
dtype: bool
-----------------------------------
Año                   0
Tipo_de_delito        0
Modalidad             0
Sexo                  0
Rango_de_edad         0
Mes                   0
Numero_registros    616
dtype: int64

In [7]:
secuestros['Numero_registros']=secuestros['Numero_registros'].fillna(0)
print(secuestros.isna().sum())

Año                 0
Tipo_de_delito      0
Modalidad           0
Sexo                0
Rango_de_edad       0
Mes                 0
Numero_registros    0
dtype: int64

### **4.2 Filtrando para registros distintos de cero:**

In [8]:
#Asignando un formato entero a los valores flotantes:
secuestros['Numero_registros']=secuestros['Numero_registros'].astype(int)

#Filtrando:
secuestros=secuestros.query(' Numero_registros != 0')

display(secuestros.head(2))
print("-----------------------------------")
print(secuestros.info())

,Año,Tipo_de_delito,Modalidad,Sexo,Rango_de_edad,Mes,Numero_registros
8,2015,Secuestro,Secuestro extorsivo,Mujer,Adultos (18 y más),Enero,1
32,2015,Secuestro,Secuestro extorsivo,Hombre,Adultos (18 y más),Enero,2

-----------------------------------
<class 'pandas.core.frame.DataFrame'>
Index: 1041 entries, 8 to 7335
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               1041 non-null   int64
 1   Tipo_de_delito    1041 non-null   object
 2   Modalidad         1041 non-null   object
 3   Sexo              1041 non-null   object
 4   Rango_de_edad     1041 non-null   object
 5   Mes               1041 non-null   object
 6   Numero_registros  1041 non-null   int32
dtypes: int32(1), int64(1), object(5)
memory usage: 61.0+ KB
None

# **5. Ordenando y filtrando por año y mes para coincidir con los otros datasets:**

Los años como datos de formato int se pueden ordenar fácilmente. Para los meses como strings hay que establecer un orden categórico.

In [9]:
#Ordenando por año:
secuestros=secuestros.query('Año != 2015')

#Asignando el orden de los meses:
orden_meses=[ 'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
secuestros['Mes']=pd.Categorical(secuestros['Mes'], categories=orden_meses, ordered=True)

#Filtrando por año y por mes:
secuestros=secuestros.sort_values(by=['Año', 'Mes'], ascending=[True, True])
display(secuestros.head(10))

,Año,Tipo_de_delito,Modalidad,Sexo,Rango_de_edad,Mes,Numero_registros
64,2016,Secuestro,Secuestro extorsivo,Mujer,Adultos (18 y más),Enero,2
88,2016,Secuestro,Secuestro extorsivo,Hombre,Adultos (18 y más),Enero,2
110,2016,Rapto,Rapto,No identificado,No identificado,Enero,1
111,2016,Otros delitos que atentan contra la libertad p...,Otros delitos que atentan contra la libertad p...,No identificado,No identificado,Enero,49
680,2016,Secuestro,Secuestro extorsivo,Mujer,Adultos (18 y más),Febrero,1
696,2016,Secuestro,Secuestro extorsivo,Hombre,Menores de edad (0-17),Febrero,1
712,2016,Secuestro,Secuestro extorsivo,Hombre,No especificado,Febrero,1
727,2016,Otros delitos que atentan contra la libertad p...,Otros delitos que atentan contra la libertad p...,No identificado,No identificado,Febrero,47
1296,2016,Secuestro,Secuestro extorsivo,Mujer,Adultos (18 y más),Marzo,3
1343,2016,Otros delitos que atentan contra la libertad p...,Otros delitos que atentan contra la libertad p...,No identificado,No identificado,Marzo,54

# **6. Dataframe final:**

In [10]:
secuestros.to_csv('df3_VFC_Libertad.csv', index=False)